rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /monica_realtor_store/{listingId}/{fileName} {
      allow read: if true;
      allow create: if request.resource.size > 0
                    && request.resource.size < 12 * 1024 * 1024;
      allow update, delete: if false;
    }

    match /sell_listings/{listingId}/{fileName} {
      allow read: if true;
      allow create: if request.resource.size > 0
                    && request.resource.size < 12 * 1024 * 1024;
      allow update, delete: if false;
    }
  }
}
